.navbar {
    background-color: red;
    color: white;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

.nav-link:hover {
    color: black;
}

.nav-link {
    color: white;
    font-size: x-large;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #000000;
}

body, h1, h2, h3, h4, h5, p, .badge, figcaption {
    font-family: 'Nunito', sans-serif;
    color: white;
}

.card {
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    margin-bottom: 5px;
    text-align: right;
}

.card-text, .card-body {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
}

.card-img {
    height: 250px;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: red;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 1000px;
    opacity: 1;
}

.carousel-item {
    height: 32rem;
}